@media (min-width: 320px) and (max-width: 440px) {
}

@media (min-width: 441px) and (max-width: 768px) {
}

@media (min-width: 769px) {
  .app {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    align-items: center;
    overflow: auto;
    border-radius: 30px;
    margin: 40px auto;
  }
}
