@media (min-width: 320px) and (max-width: 440px) {
}

@media (min-width: 441px) and (max-width: 768px) {
}

@media (min-width: 769px) {
  .input {
    padding: 10px;
    background-color: #feebdc;
    border: none;
    border-radius: 10px;
    color: rgb(58, 58, 47);
    text-transform: lowercase;
    margin-left: 10px;
  }
}
