.app {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 600px;
  align-items: center;
  overflow: auto;
  background-color: rgb(244, 246, 180);
  border-radius: 30px;
  margin: 40px auto;
}
